/* 1. Reset général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* 2. Body Layout (Flex Column باش l-footer y-b9a dima l-taḥt) */
body {
  background-color: #606161;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 3. Main (y-akhd l-mssaḥa li f l-wst كاملة) */
main {
  flex: 1;
  padding: 40px 20px;
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

/* 4. HEADER */
header {
  background-color: #10967e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #d1d1d1;
}

.logo {
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #000000;
}

/* Page active (Khaṭ kḥel f l-taḥt) */
nav a.active {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #fffbfb;
  padding-bottom: 4px;
}

/* 5. FOOTER */
footer {
  background-color: #000000;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  color: #fffefe;
  border-top: 1px solid #d1d1d1;
}